.About p {
    line-height: 1.5em;
}

.About-link {
    font-weight: bold;
    color: #232323;
    background-color: #f3f3f3;
    text-decoration: none;
    border-bottom: 1px dashed #747474
}

.About-link:hover {
    background-color: #dddddd;
}

.About-link:active {
    background-color: #c5c5c5;
}