.App {
    margin: auto;
    width: 900px; 
    position: relative;
}

.loading {
    text-align: center;
    position: absolute;
    width: 10em;
    height: 14em;
    top: 4em;
    right: 2em;
    z-index: 9999;
    font-weight: bold;
    color: #666666;
    overflow: hidden;
    opacity: .5;
}

.loading-animation {
    height: 5em;
    display: block;
    margin:  4em auto 1em;
}
