.search-form { 
    margin: 3em 0 2em;  
}

.search-form-input, 
.search-form-button {
    font-size: 1.3em;
    height: 2em;
    padding: .5em;
    border: 1px solid #ccc;
    outline: none;
}

.search-form-input {
    width: 75%;
    padding: .5em;
    vertical-align: top;
    border-top: none;
    border-left: none;
    border-right: none;
}

.search-form-button {
    background-color: #fff;
    margin-left: -1px;
    width: 25%;
    font-weight: bold;
    text-transform: capitalize;
    background-color: #eee;
    color: #222222
}
