.search-form { 
  margin: 3em 0 2em;  
}

input, button { outline: none; }

.search-form__input, 
.search-form__button {
  border: 1px solid #ccc;
  padding: .5em;
  height: 2em;
  font-size: 1.3em;
}

.search-form__input {
  vertical-align: top;
  width: 75%;
  /* padding: .5em .5em .2em .5em; */
  padding: .5em;
  border-top: none;
  border-left: none;
  border-right: none;
}

.search-form__button {
  background-color: #fff;
  margin-left: -1px;
  width: 25%;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #eee;
  color: #222222
}

